<html>
  <head>
    <title>Google Maps Example</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script type="module" src="js/index.js"></script>
  </head>
  <body>
    <h3>Google Maps Example</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQloeVIEm7tds8gHEPO-codgPKVH8DzJI&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>